
/* General Styling */
a {
  color: black;
}

body {
  text-align: center;
}

/* .title-divider {
  margin-top: 0;
  margin-bottom: 0;
} */

/* Containers */


/* Sections */

.white-section {
  background-color: #fff;
}

.blue-section {
  /* background-color: #66BFBF; */
  /* background-color: #24AAA9; */
  background-color: #24A2A3;
}

/* ------------------------------------------------------------------------- */

/* Nav Bar */

.navbar {
  /* background-color: #66BFBF; */
  /* background-color: #24AAA9; */
  /* background-color: #24A2A3; */
  background-color: transparent;
  border-bottom: 1px solid;
  border-color: #564e58;
  position: absolute;
  width: 100%;
  /* position: absolute;
  z-index: 1; */
  /* top: 0; */
}

.nav-button {
  background-color: black;
}

/* Home Page */

.intro-name {
  padding: 20% 30%;
}

/* About Me */

.bio {
  padding: 7% 0;
}

.headshot {
  width: 7%;
  border-radius: 100%;
  margin: 3% 0 1%;
  /* border: 1px solid; */
  /* border-color: #564e58; */
  /* border-color: #c3c3c3; */
  /* border-color: #949396; */
}

.who-am-i {
  padding: 1% 35%;
}

/* #about-me {
  position: relative;
  /* z-index: 0; */ /*
  padding: 20px 0;
} */

/* Experience */

.javascript {
  padding: 6px;
  background-color: #fff;
}

.html {
  padding: 4px;
  background-color: #fff;
}

.git {
  padding: 3px;
}

.tech {
  width: 75px;
  background-color: #fff;
  border: 1px solid;
  /* border-color: #219394; */
  border-color: #564e58;
  border-radius: 100%;
}

.tech-logo {
  margin: 5% 0;
}

.technologies {
  margin: 0 auto;
  padding: 0% 25% 5%;
}

.exp-text {
  padding: 3%;
}

/* Personal Projects */

#personal-projects {
  position: relative;
  padding: 20px 0;
}

.card {
  margin: 0 auto;
}

.projects-container {
  text-align: center;
  padding: 5%;
}

.projects-text {
  padding: 5%;
  padding-top: 0%;
}

/* Skills/Link to Resume */

/* #skills {
    padding: 20px 0px;
} */

/* Hobbies */

#hobbies {
  padding: 20px 0;
}

/* Contact Me */

#contact-me {
  padding: 20px 0;
}

.bottom-section {
  padding: 5% 0;
}
.copyright {
  /* padding: 2% 0; */
}

.ft-icons {
  padding: 20px 20px 20px;
}

.contacts {

}
